body {
    margin: 0;
}

.top-container {
    background-color: rgb(69, 104, 130);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.top-container-text {
    color: rgb(227, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.middle-container {
    margin-top: 30px;
    display: block;
}

.img-round {
    text-align: center;
    border-radius: 60%;
    height: 200px;
    border: solid rgb(69, 104, 130);
}

.middle-container-text {
text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom-container-skills {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.component-skills {
    display: flex;
    align-items: center;
}

.skill {
    margin-left: 20px;
}
.img-skill{
    height: 80px;
}

.bottom-container-contact {
    background-color: rgb(227, 227, 227);
}

.component-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-size-adjust: inherit;
}

.main-colour {
    color: rgb(69, 104, 130);
}

.footer {
    background-color: rgb(69, 104, 130);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(227, 227, 227);
}

a {
    margin: 30px;
}

.btn {
    background: rgb(69, 104, 130);
    background-image: linear-gradient(to bottom, rgb(69, 104, 130), grey);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}